<!-- loop through all of the doc parts for the doc and render output -->
<% parts.each do |part| %>

  <!-- HTTP method and route (if both specified) -->
  <% if !part[:route].nil? && !part[:http_method].nil? %>
    <p id="<%= part[:route].gsub('/', '-').gsub(':', '') %>"><strong><%= part[:http_method] %></strong> <%= part[:route] %></p>
  <% elsif !part[:signature].nil? %>
    <p id="<%= part[:signature].gsub(' ', '-').gsub(',', '').gsub('(', '-').gsub(')', '-')[0..12] %>"><strong><%= part[:signature] %></strong></p>
  <% end %>

  <!-- display all of the docs together for the part -->
  <p><% part[:doc].each do |doc| %>
    <%= doc %>
  <% end %></p>

  <!-- show all of the params in a table -->
  <% if part[:params].length > 0 %>
    <h4>Parameters</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <% part[:params].each do |param| %>
        <tr>
          <td><%= param[:name] %></td>
          <td><%= param[:type] %></td>
          <td><%= param[:default].nil? ? 'N/A' : param[:default] %></td>
          <td><%= param[:text] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <!-- show all of the headers in a table -->
  <% if part[:headers].length > 0 %>
    <h4>Headers</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <% part[:headers].each do |param| %>
        <tr>
          <td><%= param[:name] %></td>
          <td><%= param[:text] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <!-- show all of the responses with examples -->
  <% if part[:responses].length > 0 %>
    <h4>Response Examples</h4>
    <% part[:responses].each do |response| %>
      <p><strong><%= response[:code] %></strong> <%= response[:id].upcase %></p>
      <pre><code><%= response[:text].join("\n") %></code></pre>
    <% end %>
  <% end %>
<% end %>